// New media queries
// max-width: 599px
@include for-phone-only {
  main#home h1 {
    margin-top: 25vh;
    font-size: 3.5rem;
  }

  main {
    text-align: center;
  }

  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 2.3rem;
  }

  .menu .nav-link {
    font-size: 20px;
  }

  .menu-branding .portrait {
    background: url("/dist/img/victor-for-phone-only.jpg");
    width: 130px;
    height: 130px;
  }
  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    font-size: 1rem;
  }
  .boxes div {
    font-size: 1rem;
  }
}
// min-width: 600px
@include for-tablet-portrait-up {
  .projects {
    grid-template-columns: 1fr;
  }
}
// min-width: 600px and max-width: 899px
@include for-tablet-portait-only {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
// min-width: 900px
@include for-tablet-landscape-up {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
// min-width: 900px and max-width: 1199px
@include for-tablet-landscape-only {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
// min-width: 1200px
@include for-desktop-up {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
// min-width: 1200px and max-width: 1799px
@include for-desktop-only {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
// min-width: 1800px
@include for-big-desktop-up {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
